.loading {
  position: fixed;
  z-index: 4;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading img {
  width: 10vh;
  height: 10vh;
  -webkit-animation: load_spinner 0.9s linear infinite;
  -moz-animation: load_spinner 0.9s linear infinite;
  -o-animation: load_spinner 0.9s linear infinite;
  animation: load_spinner 0.9s linear infinite;
}

@-webkit-keyframes load_spinner {
  0% {
    -webkit-transform: rotateZ(0);
    /*!rtl:ignore*/
    transform: rotateZ(0); /*!rtl:ignore*/
  }

  50% {
    -webkit-transform: rotateZ(180deg);
    /*!rtl:ignore*/
    transform: rotateZ(180deg); /*!rtl:ignore*/
  }

  100% {
    -webkit-transform: rotateZ(360deg);
    /*!rtl:ignore*/
    transform: rotateZ(360deg); /*!rtl:ignore*/
  }
}

@-moz-keyframes load_spinner {
  0% {
    -moz-transform: rotateZ(0);
    /*!rtl:ignore*/
    transform: rotateZ(0); /*!rtl:ignore*/
  }

  50% {
    -moz-transform: rotateZ(180deg);
    /*!rtl:ignore*/
    transform: rotateZ(180deg); /*!rtl:ignore*/
  }

  100% {
    -moz-transform: rotateZ(360deg);
    /*!rtl:ignore*/
    transform: rotateZ(360deg); /*!rtl:ignore*/
  }
}

@-o-keyframes load_spinner {
  0% {
    -o-transform: rotateZ(0);
    /*!rtl:ignore*/
    transform: rotateZ(0); /*!rtl:ignore*/
  }

  50% {
    -o-transform: rotateZ(180deg);
    /*!rtl:ignore*/
    transform: rotateZ(180deg); /*!rtl:ignore*/
  }

  100% {
    -o-transform: rotateZ(360deg);
    /*!rtl:ignore*/
    transform: rotateZ(360deg); /*!rtl:ignore*/
  }
}

@keyframes load_spinner {
  0% {
    -webkit-transform: rotateZ(0);
    /*!rtl:ignore*/
    -moz-transform: rotateZ(0);
    /*!rtl:ignore*/
    -o-transform: rotateZ(0);
    /*!rtl:ignore*/
    transform: rotateZ(0); /*!rtl:ignore*/
  }

  50% {
    -webkit-transform: rotateZ(180deg);
    /*!rtl:ignore*/
    -moz-transform: rotateZ(180deg);
    /*!rtl:ignore*/
    -o-transform: rotateZ(180deg);
    /*!rtl:ignore*/
    transform: rotateZ(180deg); /*!rtl:ignore*/
  }

  100% {
    -webkit-transform: rotateZ(360deg);
    /*!rtl:ignore*/
    -moz-transform: rotateZ(360deg);
    /*!rtl:ignore*/
    -o-transform: rotateZ(360deg);
    /*!rtl:ignore*/
    transform: rotateZ(360deg); /*!rtl:ignore*/
  }
}
